<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <!-- <div class="containerText">
    <h1>
      thank you for reaching out to us! if you are a contractor and interested
      in buying our leads please fill out this form and we will get in touch
      with you
    </h1>
  </div> -->

  <div class="container">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle>INTERESTED IN BUYING LEADS FROM US?</ion-card-subtitle>
        <ion-card-title>Contractor Form</ion-card-title> 
      </ion-card-header>

      <form>
        <ion-list>
          <ion-item color="primary">
            <ion-label position="floating">Full Name</ion-label>
            <ion-input
              autocapitalize="words"
            ></ion-input>
          </ion-item>

          <ion-item color="primary">
            <ion-label position="floating">Company Name</ion-label>
            <ion-input
              autocapitalize="words"
            ></ion-input>
          </ion-item>

          <ion-item color="primary">
            <ion-label position="floating">Company Address</ion-label>
            <ion-input
              autocapitalize="words"
            ></ion-input>
          </ion-item>

          <ion-item color="primary">
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button color="tertiary" type="submit" expand="block"
          >submit</ion-button
        >
      </form>
    </ion-card>
  </div>
</ion-content>

<app-footer></app-footer>