.containerText {
    margin: 1em;
    height: 20%
}

.container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card {
    width: 90%
}

ion-button {
    margin: 1em
}
