<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about">
    <div class="person">
      <div class="picName">
        <img src="../../assets/stock.jpeg" />
        <h3>Graham Naquin</h3>
      </div>
      <p>about graham</p>
    </div>

    <div class="person">
      <p>about cameron</p>
      <div class="picName">
        <img src="../../assets/stock.jpeg" />
        <h3>Cameron Delaune</h3>
      </div>
    </div>
  </div>
</ion-content>
