.containerText {
    margin: 1em;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20em
}

ion-card {
    width: 90%;
    max-height: 70vh
}

ion-card-title {
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
    text-decoration: underline;
}

ion-button {
    margin: 1em
}

ion-list {
    background: #0A4158
}

ion-item {
    font-size: 1em;
}

ion-input, ion-select, ion-select-option, ion-textarea {
    color: grey
}