.containerText {
    margin: 1em;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20em
}

ion-card {
    width: 90%;
    max-width: 40em;
    height: 38em;
}

@media only screen and (max-height: 605px) {
    ion-card {
        margin-top: 5em;
    }
}

@media only screen and (max-height: 555px) {
    ion-card {
        margin-top: 10em;
    }
}

@media only screen and (max-height: 478px) {
    ion-card {
        margin-top: 15em;
    }
}

@media only screen and (max-height: 405px) {
    ion-card {
        margin-top: 20em;
    }
}

@media only screen and (max-height: 335px) {
    ion-card {
        margin-top: 25em;
    }
}

@media only screen and (max-height: 265px) {
    ion-card {
        margin-top: 30em;
    }
}

ion-card-title {
    text-align: center;
    text-decoration: underline;
}

ion-card-subtitle {
    text-align: center;
}

ion-button {
    margin: 1em
}

ion-list {
    background: #0A4158
}

ion-item {
    font-size: 1em;
}

ion-input, ion-select, ion-select-option, ion-textarea {
    color: grey
}