<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="tertiary">
      <p>submit a ticket</p>
    </ion-button>
  </ion-fab>

  <div class="intro">Let us help you get the job done!</div>
  <img src="../../assets/contractor.jpg" />

  <div class="fullPg">
    <div class="why">
      <h2>What Do We Do?</h2>
      <p>
        Our mission is to help people like you find quality contractors without
        the hassle of doing the research yourself. 
      <br>
      <br>
        We guarantee that the contractors are licensed and insured so you can have peace of mind.
      </p>
    </div>

    <div class="how">
      <h2>How Does This Work?</h2>
      <p>
        If you take just a couple of minutes to submit a ticket we will
        contact local contractors that are right for the job. 
        <br>
        <br>
        After we pass them
        your information they will reach out to you to provide quotes and
        estimates.
      </p>
    </div>

  </div>
</ion-content>
