<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="headingWrapper">
    <div class="headingTextWrapper">
      <p class="headerText">
        We connect you with local, licensed, & insured arborists
      </p>
    </div>
  </div>

  <div class="fullPg">
    <div class="why">
      <h2>What Do We Do?</h2>
      <p>
        Our mission is to help people like you find quality local arborists
        without the hassle of doing the research yourself. We support local
        business owners and home owners.
        <br />
        <br />
        We guarantee that the contractors we contact are licensed and insured so
        you can have peace of mind.
      </p>
    </div>

    <div class="how">
      <h2>How Does It Work?</h2>
      <p>
        If you take just a couple of minutes to submit a ticket we will contact
        local companies on your behalf.
        <br />
        <br />
        After we pass them your information arborists will reach out to you to
        schedule quotes and estimates.
      </p>
    </div>

    <div class="who">
      <h2>Where Are We Based?</h2>
      <p>
        At the moment we are only working out of New Orleans, LA and the
        surrounding areas
        <br />
        <br />
        We only want to recommend the best of the best companies
        so we are limited to arborists at this time. In the future we may expand
        our service to cover other types of contractors so please let us know if
        that is something you would be interested in!
      </p>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>