<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="tertiary">
      <p>submit a ticket</p>
    </ion-button>
  </ion-fab>

  <div class="headingWrapper">
    <div class="headingTextWrapper">
      <p class="headerText">Let us help get the job done!</p>
    </div>
  </div>

  <div class="fullPg">
    <div class="why">
      <h2>What Do We Do?</h2>
      <p>
        Our mission is to help people like you find quality local contractors
        without the hassle of doing the research yourself. We support small and
        local business owners and home owners.
        <br />
        <br />
        We guarantee that the contractors we contact are licensed and insured so
        you can have peace of mind.
      </p>
    </div>

    <div class="how">
      <h2>How Does It Work?</h2>
      <p>
        If you take just a couple of minutes to submit a ticket we will contact
        local contractors that are right for the job.
        <br />
        <br />
        After we pass them your information they will reach out to you to
        provide quotes and estimates.
      </p>
    </div>

    <div class="who">
      <h2>Where Are We Based?</h2>
      <p>
        At the moment we are working out of New Orleans, LA and Fort Worth, TX
        <br />
        <br />
        Due to the process of ensuring contractors are local, licensed, and
        insured we are limited in the areas we can serve at this time.
      </p>
    </div>
  </div>
</ion-content>
